html,body {
    margin:0;
    padding:0;
    max-width: 100%;
    overflow-x: hidden;
}
.join-room-body{
    display: flex;
    flex-direction: column;
    

}

.player-how-to-play-wrapper{
    margin-top: 20px;
    width:100vw;
    display: grid;
    grid-template-columns: 50% 50%;

}

.player-details-container{
    display: flex;
    flex-direction: row;

}

.player-photo{
    margin-left: 30px;
    height: 100px;
    width:100px;
    border-radius: 50%;
}

.player-details{
    margin-top: 20px;
    margin-left: 5px;
}

.player-role{
    font-size: xx-large;
    color:blue
}
.player-name{
    font-weight: 400;
}

.how-to-play-button-container{
    display: flex;
    justify-content: right;
    margin-right: 5vw;
}
.how-to-play-button{
    height: 40px;
    width:auto;
    background: #4757EC !important;
}

.song-container{
    margin:0px;
    padding: 0;
    width: 100% !important; 
    background: #4757EC;
    height: auto;
    min-height: 400px;
    border-top-right-radius: 65px;
    border-top-left-radius: 65px;
    display: flex;
    justify-content: center;
}

.add-song-input{
    width: 75vw;
    height: 58px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px;
}

.add-song-button{
    background: #FFFFFF;
    border-radius: 5px;
    color: black;
    height: 58px;
    margin-left: 20px;
}

@media screen and (max-width: 400px){

    .player-details-container{
        flex-direction: column;
    
    }


    .player-photo{
        height: 70px;
        width:70px;
        
    }
    .player-details{
        margin-top: 3px;
        margin-left: 30px;
    }
    .player-role{
        font-size:large;
        color:blue
    }
    .player-how-to-play-wrapper{
        margin-top: 20px;
        width:100vw;
        display: grid;
        display:flex;
        flex-direction: column;

    
    }
    .how-to-play-button-container{
        display: flex;
        justify-content:left;
        margin-top: 2vh;
        margin-left: 5vw;
    }

}