.form-fields{
    display:flex;
    flex-direction: column;
    gap:10vh;
    justify-content: center;
}
.heading-create{
    font-size: 3em;
}
.roomId-container{
    display: flex;
    justify-content: center;
    margin-left:3vw;

}
.roomId-copy-button{
    width:auto;
    margin-top: 2vh;
    background: #4757EC;
}

.form-row-grid{
    display:grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}
.form-row-grid-input{
    
    display: grid;
    grid-template-columns: 80% 10%;
}


.form-label-input-grid{
    gap:2vh;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.number-of-participents-textbox{
    width:90%
}

.rule-textbox{
    width:90%;
    height:90px;
}

.generate-passcode{
    width:90%; 
}
.create-button{
    margin-left: 35vw;
    width:30vw;
}


@media screen and (max-width: 600px){

    .form-fields{
      
        gap:5vh;
       
    }
    .form-row-grid{
        display:flex;
        flex-direction: column;
        
        justify-content: center;
    }

}